.game-board{ 
    display: grid;
    grid-template-columns: 120px 120px 120px; 
    grid-template-rows: 120px 120px 120px;
    justify-content: center;
    padding: 30px
}

.box {
    background-color: #d9d9d9;
    border: 2px solid black;
    text-align: center;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
  }